* {
  box-sizing: border-box;
}

html {
  background: #222;

  h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  ol {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    li {
      padding: 0;
      list-style: none;
      width: 20rem;
      margin: 1rem;
    }
    .not-published, .published {
      border-radius: 0.2rem 0.2rem 0 0;
      p {
        margin: 0;
        font-size: 1.2rem;
        text-align: right;
        padding: 1rem;
        color: white;
      }
    }
    .published {
      background-color: #00a441;
    }
    .not-published {
      background-color: #c23d3d;
    }
    .card {
      margin: 0;
      padding: 1rem;
      width: 100%;
      background-color: #fafeff;
      border-radius: 0 0 0.2rem 0.2rem;
      color: black;
      .section {
        margin: 0rem auto;
        padding: 0.25rem;
        p, pre {
          margin-top: 0;
        }
      }
      h2, h3 {
        margin: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }

      .button {
        display: block;
        padding: 0.3rem 0.6rem;
        margin: 0.5rem auto 0;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: rgb(247, 247, 247);
        background-color: #3083c2;
        border: 0.1rem solid transparent;
        border-radius: 0.3rem;
        box-shadow: 0.1rem 0.2rem rgb(97, 97, 97);
        &:hover {
          background-color: #1675bd;
        }
        &:active {
          background-color: #0C0032;
          transform: translateY(0.1rem);
          box-shadow: 0 0.1rem rgb(52, 52, 52);
        }
        &:focus {
          border: 0.1rem solid #94a2f4;
        }
      }

      hr {
        border: 1px solid rgb(55, 55, 55);
        margin-top: 1rem;
        width: 80%;
      }
    }
  }

  p, pre, label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(55, 55, 55);
  }
  .published-check {
    text-align: right;
    display: flex;
    justify-content: center;
    label, input {
      display: block;
    }
  }

  p.timestamp {
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
    margin: 1rem 0 0;
  }
}
